@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

/*======== HEADER ========*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  margin: auto;
  position: relative;
  align-items: center;
  display: flex;
  z-index: 1;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -1;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.header__main-illustration {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 765px;
  height: 608px;
}

.logo {
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;
}


.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  padding: 0;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  z-index: 1;
}

.header__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 390px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  left: 64px;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.link:hover {
  transition: color 1s linear 0.5s;
  opacity: 0.5;
}

/*========== MAIN ========*/

/* ========= DESCRIPTION 1 ======*/

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__breef {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  display: flex;
  flex-flow: column;
  gap: 30px;
  width: 80%;
}

.two-columns__paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: 600;
  font-size: 24px;
}

/*=========== TECHNIQUES 2 =========*/


.techniques {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 80%;
  margin: 100px auto;
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 920px;
  column-gap: 100px;
}

.cards__item {
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  max-width: 240px;
}

.cards__image {
  margin: 60px 40px 0;
  padding: 0;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  padding: 43px 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

/*=========== VIDEO 3 =========*/
.video {
  margin: 100px auto 0;
}

.video {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.video__iframes {
  padding-top: 50px;
  margin-bottom: -50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:not(:last-child) {
  margin-right: 20px;
}

/*=========== OAKLEY 4 =========*/

.oakley {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
  background-color: #f2f2f2;
}

/*=========== DIGITS 5 =========*/
.digits {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 100px auto;
}

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
}

.section-subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  row-gap: 60px;
  margin-top: 60px;
}

.table__cell {
  margin: 0;
  padding: 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.table__text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.table__text:not(:last-child) {
  margin-bottom: 20px;
}

/* ========= FEYNMAN 6======== */

.feynman {
  background: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  min-height: 890px;
  position: relative;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  padding: 100px 0 70px;
  margin: 0 auto;
}

.feynman__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  right: 48px;
  top: 50%;
}

/*======== KHAN 7 =======*/

.khan {
  background: #f2f2f2;
  padding: 105px 0 0;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  display: block;
}

.khan__quote {
  margin: 0;
  max-width: 790px;
  padding-top: 50px;
  padding-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: block;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.han__quote-author-subline {
  margin: 0;
  padding: 0;
  padding: 10px 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  justify-content: flex-start;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  padding-right: 48px;
}

.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

/*======== KAUFMAN 8 =======*/
/* и элемента с модификатором вида ключ-значение */
.kaufman {
  background: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  flex-flow: column;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table_theme_dark {
  margin: 0 0 90px;
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark {
  max-width: 200px;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background: url(../images/kaufman-triangle.svg);
  background-size: 100%;
  z-index: -1;
}

.kaufman__triangle_rotation {
  transform: rotate(360deg);
  transition: transform 20s linear;
  animation-iteration-count: infinite;
}

/*======== RESOURCES 9 =======*/
.resources {
  margin: 0 auto;
}

.resources {
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 100px 0 217px;
}

.resources__logo-zone {}

.resources__link {
  height: 38px;
  width: 270px;
}

/*======== FOOTER =======*/
.footer {
  background-color: #1f1f1f;
  display: flex;
  color: #fff;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-direction: column;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-flow: column;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-flow: column;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style-type: none;
  margin-bottom: 18px;
}