.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

/*======== HEADER ========*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  margin: auto;
  position: relative;
  align-items: center;
  display: flex;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -1;
}

.header__square-pic_rotation {
  transform: rotate(360deg);
  transition: transform 20s linear;
  animation-iteration-count: infinite;
}

.header__main-illustration {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 765px;
  height: 608px;
}

.logo {
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;
}

.logo:hover {
  transition: color 1s linear 0.5s;
  opacity: 0.5;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  padding: 0;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  z-index: 1;
}

.header__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 390px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  left: 64px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.link:hover {
  opacity: 0.7;
}

/*========== MAIN ========*/

/* ========= DESCRIPTION ======*/

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__breef {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  display: flex;
  flex-flow: column;
  gap: 30px;
  width: 80%;
}

.two-columns__paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: 600;
  font-size: 24px;
}

/*=========== TECHNIQUES =========*/

/*=========== VIDEO =========*/
.video {
  margin: 100px auto 0;
}

.video {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.video__iframes {
  padding-top: 50px;
}

.video__iframe {
  min-width: 720px;
  min-height: 405px;
}

/*=========== DIGITS =========*/
.digits {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
}

.section-subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  row-gap: 60px;
  margin-top: 60px;
}

.table__cell {
  margin: 0;
  padding: 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.table__text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.table__text:not(:last-child) {
  margin-bottom: 20px;
}

/* =========FEYNMAN ======== */

.feynman {
  background: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  min-height: 890px;
  position: relative;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  padding: 100px 0 70px;
  margin: 0 auto;
}

.feynman__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
}

/*======== KAUFMAN =======*/
/* и элемента с модификатором вида ключ-значение */
.kaufman {
  background: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  flex-flow: column;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table_theme_dark {
  margin: 0 0 90px;
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark {
  max-width: 200px;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background: url(../images/kaufman-triangle.svg);
  background-size: 100%;
  z-index: -1;
}

/*======== FOOTER =======*/
.footer {
  background-color: #1f1f1f;
  display: flex;
  color: #fff;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-direction: column;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-flow: column;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-flow: column;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style-type: none;
  margin-bottom: 18px;
}